# IP of HamLib rigctld server
IP="192.168.1.2"
# TCP PORT of Hamlib rigctld for a particular rig
# Suggestion to use the model number of rig for the port
# For IC-7100 use 7100
PORT="7100"
# TimeOut in seconds (remember to catch rig not being online)
TIMEOUT=1
# String match to rig offline/powered off
# if you move the TIMEOUT to 5 RIGOFF will need to be set
# With a timeout of 1 then no reponse will consider the rig to be off
RIGOFF=""
